<script>
  import Pets from "./components/Pets.svelte";
  import Paginate from "./components/Paginate.svelte";
  import Search from "./components/Search.svelte";
  import AuthModal from "./components/AuthModal.svelte";
  import AddPetModal from "./components/AddPetModal.svelte";
  import AddPetModalNotAuth from "./components/AddPetNotAuthModal.svelte";
  import NavBar from './components/NavBar.svelte';
  import {subscribeToUser,loadUser} from "./store/store";

  //Зарежда всички модали и select-и като такива
  document.addEventListener("DOMContentLoaded", function() {
    M.Modal.init(document.querySelectorAll(".modal"), {});
    M.FormSelect.init(document.querySelectorAll("select"), {});
  });

  let user; //логнатия потебител
  loadUser();
  subscribeToUser(u=>{
    user = u 
  });
  $:isAuth=Boolean(user) //Дали има логнат потребител
</script>

<style>
  #addBtn {
    float: right;
  }

  /*Глобални класове*/
  :global(.dropdown-content) {
    max-height: 280px;
    top: 0 !important;
    margin-bottom: 0px;
  }

  :global(.fluid) {
    width: 100%;
  }
  :global(.clickable) {
    cursor: pointer;
  }

  :global(.invisible) {
    opacity: 0;
  }

  :global(.capitalize) {
    text-transform: capitalize;
  }

 :global( mark){
    background:#ff8a80;
    color: #fff;
}
</style>

<Search />
<AddPetModal />
<AuthModal />
<AddPetModalNotAuth />

<NavBar/>

<main class="container">
  <div class="card">
    <div class="card-content">
<!--      Таблица със животните             -->
      <Pets />
<!--      Навигацията по страници           -->
      <Paginate />
<!--      Бутонче за добавяне на животно    -->
      <a
        id="addBtn"
        class="btn-floating btn-large red waves-effect modal-trigger"
        href="{isAuth?'#addPetModal':'#addPetNotAuthModal'}">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>

  <!-- Бутон за търсене -->
  <div class="fixed-action-btn">
    <a
      class="btn-floating btn-large teal waves-effect modal-trigger"
      href="#searchModal">
      <i class="large material-icons">search</i>
    </a>
  </div>

</main>
