<!-----------------------------------------------
Модалчето, което се показва, когато потребител,
който не е влязъл в профила си се опита да добави
домашен любимец
------------------------------------------------->

<script>
</script>

<style>
</style>

<div id="addPetNotAuthModal" class="modal">
  <div class="modal-content">
    <h4 class="center-align teal-text text-darken-3">
      Добавяне на домашен любимец
    </h4>
    <div class="card orange lighten-4">
      <div class="card-content orange-text text-darken-3">
        <h5>За да добавите домашен любимец трябва да влезете в профила си !</h5>
      </div>
      <div class="card-action right-align">

        <a class="modal-close red-text" href="#!">Затвори</a>
        <a class="modal-trigger modal-close btn red" href="#authModal">
          &nbsp;Влез&nbsp;
        </a>
      </div>
    </div>

  </div>

</div>
