<!--
  Модалчето за добавяне на домашен любимец
-->
<script>
  import { animals } from "../globals";
  import { createPet } from "../store/store";
  import { getFirstError } from "../utils/utils";

  let errors; //валидационни грешки
  let name; //името на любимеца
  let type; //видът на любимеца
  let about;//информация за любимеца

  //Събмитва формата (избира м/у login и singup)
  let submit = async () => {
    errors = null;
    if (!allowSubmit) return;

    try {
      await createPet(name, type, about);
    } catch (e) {
      errors = e;
      console.log({ errors });
      return;
    }

    M.toast({ html: "Успешно добавен домашен любимец !", classes: "green" });
     M.Modal.getInstance(document.getElementById("addPetModal")).close();
  };

  //дали бутончето за добавяне да е активно
  $: allowSubmit = name && about && (type || type === 0);

  //Първата грешка за дадено поле
  $: getError = key => {
    return getFirstError(errors, key);
  };
</script>

<style>
  textarea {
    min-height: 143px;
  }
  #addPetModal {
    max-height: 600px;
  }
</style>

<div id="addPetModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="center-align teal-text text-darken-3">Нов любимец</h4>

    <div class="row">
      <div class="col s12 xl6 m8 offset-xl3 offset-m2 ">
        <!-- Име -->
        <div class="input-field col s6">
          <i class="material-icons prefix" class:red-text={getError('name')}>
            pets
          </i>
          <input
            bind:value={name}
            class:invalid={getError('name')}
            id="pet_name"
            type="text" />
          <label for="pet_name">Име</label>
          <span class="helper-text" data-error={getError('name')} />
        </div>
        <!-- Тип -->
        <div class="input-field col s6">
          <select bind:value={type} name="type" class:invalid={getError('type')}>
            <option disabled selected value="">Вид</option>
            {#each animals as animal, i}
              <option value={i}>
                <span class="capitalize">{animal}</span>
              </option>
            {/each}
          </select>
           <span class="helper-text" data-error={getError('type')} />
        </div>
        <!-- Описание -->
        <div class="input-field col s12">
          <i class="material-icons prefix" class:red-text={getError('about')}>book</i>
          <textarea
            bind:value={about}
            class:invalid={getError('about')}
            rows="4"
            cols="50"
            id="about"
            name="about"
            class="materialize-textarea" />
          <label for="about">Информация</label>
          <span class="helper-text" data-error={getError('about')} />
        </div>

        <div class="col s12">
        <!--Submit button-->
          <button
            on:click={submit}
            class:disabled={!allowSubmit}
            class="btn fluid teal">
            Добави
          </button>
        </div>

      </div>

    </div>

  </div>

</div>
