<!------------------------------
  Модалчето за login/регистрация
-------------------------------->
<script>
  import { scale } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import { userRegister, userLogin } from "../store/store";
  import { getFirstError } from "../utils/utils";

  let type = "login"; //типът на формчката
  let email;
  let password;
  let password_confirmation;
  let errors; //валидационните грешки

  //Текстовете за различните UI компоненти в login/signup формата
  let textsAll = {
    login: {
      title: "Вход",
      verb: "влез",
      toggleSentance: "Нямаш профил?",
      toggleButton: "Регистрация"
    },
    signup: {
      title: "Регистрация",
      verb: "регистрай се",
      toggleSentance: "Вече имаш профил ?",
      toggleButton: "Влез"
    }
  };
  //Правилния сет от UI текстове в зависимот от вида на формата
  $: texts = textsAll[type];
  //Дали да позволи натискането на бутона за login/регистрация (всички полета са попълнени)
  $: allowSubmit =
          email && password && (password_confirmation || type === "login");

  //Сменя вида на формата
  let toggle = () => {
    errors = null;
    password = password_confirmation = "";
    if (type === "login") type = "signup";
    else type = "login";
  };

  //Събмитва формата (избира м/у login и singup)
  let submit = async () => {
    errors = null;
    if (!allowSubmit) return;

    try {
      if (type === "login") await userLogin(email, password);
      else await userRegister(email, password, password_confirmation);
    } catch (e) {
      console.log(e);
      if (type === "login") {
        M.toast({ html: "Грешен E-mail или парола", classes: "red" });
        errors = {
          email: true,
          password: true
        };
      } else {
        errors = e;
      }
      return;
    }

    M.toast({ html: "Добре дошли !", classes: "green" });
    openAddPetModal();
  };

  //Oтваря модала за добавяне на любимец
  let openAddPetModal = () => {
    M.Modal.getInstance(document.getElementById("authModal")).close();
    M.Modal.getInstance(document.getElementById("addPetModal")).open();
  };

  //Първата грешка за дадено поле
  $: getError = key => {
    return getFirstError(errors, key);
  };
</script>

<style>
  #authModal {
    min-height: 450px;
  }
  #formHolder {
    margin-bottom: -30px;
  }
  .helper-text {
    margin-bottom: -15px;
  }
</style>

<div id="authModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="center-align teal-text text-darken-3">{texts.title}</h4>

    <div class="row" id="formHolder">
      <div
              class="col xl4 l6 m8 s10 offset-xl4 offset-l3 offset-m2 offset-s1 row">
        <!-- E-mail -->
        <div class="input-field col s12">
          <i class="material-icons prefix" class:red-text={getError('email')}>
            mail
          </i>
          <input
                  bind:value={email}
                  class:invalid={getError('email')}
                  id="email"
                  type="text" />
          <label for="email">E-mail</label>
          <span
                  class="helper-text"
                  data-error={getError('email') !== true ? getError('email') : ''} />
        </div>
        <!-- Парола -->
        <div class="input-field col s12">
          <i class="material-icons prefix" class:red-text={getError('email')}>
            vpn_key
          </i>
          <input
                  bind:value={password}
                  class:invalid={getError('password')}
                  id="password"
                  type="password" />
          <label for="password">Парола</label>
          <span
                  class="helper-text"
                  data-error={getError('password') !== true ? getError('password') : ''} />
        </div>

        <!-- Потвърждение на паролата -->
        {#if type === 'signup'}
          <div
                  class="input-field col s12"
                  in:scale={{ duration: 500, opacity: 0.5, start: 0.2, easing: quintOut }}>
            <i class="material-icons prefix" class:red-text={getError('email')}>
              repeat
            </i>
            <input
                    bind:value={password_confirmation}
                    class:invalid={getError('password_confirmation')}
                    id="password_confirmation"
                    type="password" />
            <label for="password_confirmation">Повторете паролата</label>
            <span
                    class="helper-text"
                    data-error={getError('password_confirmation')} />
          </div>
        {:else}
          <div class="input-field col s12">
            <input class="invisible" />
          </div>
        {/if}

              <!--Бутончето за смяна на вида на формата ( login/signup )-->
        <div class="col s12 right-align">
          {texts.toggleSentance}
          <span on:click={toggle} class="clickable red-text">
            {texts.toggleButton}
          </span>
          <br />
          <br />
        </div>

        <div class="col s12">
          <button
                  on:click={submit}
                  class:disabled={!allowSubmit}
                  class="btn fluid teal waves-effect waves-light">
            {texts.verb}
          </button>
        </div>

      </div>

    </div>

  </div>

</div>
