<!--
  Header-а с logout бутнчето
-->

<script>
  import { subscribeToUser, loadUser, logOutUser } from "../store/store";
  let user;
  subscribeToUser(u => {
    user = u;
  });

  let logOut = () => {
    M.toast({ html: "Успешно изязохте от профила си!", classes: "green" });
    logOutUser();
  };
</script>

<nav>
  <div class="nav-wrapper teal">
    <div class="brand-logo center">Домашни любимци</div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {#if user}
        <li>{user.email}</li>
        <li>
          <!--Log out бутончето-->
          <a
            on:click={logOut}
            class="btn-floating waves-effect waves-light red z-depth-1"
            href="#!">
            <i class="material-icons">exit_to_app</i>
          </a>

        </li>
      {/if}

    </ul>
  </div>
</nav>
