<!--------------------------------------------
 Бутончетата за страниците с домашни любимци
 Грижи се за зареждането им
----------------------------------------------->

<script>
  import { loadPets, subscribeToPetsCount } from "../store/store";
  import { showOnPage } from "../globals";


  let page = 0; //номера на страницата, която се паказва
  let count = 0; //общия брой домашни любимци

  //Зарежда първоначално животните;
  loadPets(0, showOnPage);
  subscribeToPetsCount(c => {
    count = c;
  });

  //Прави заявка към api-то, когато се променя  page или  showOnPage
  $: {
    loadPets(page * showOnPage, showOnPage);
  }

  //Броя страници
  $: numberOfPages = Math.ceil(count / showOnPage);

  /**
   * Навигира към една страница наляво/надясно
   * @param direction = +-1
   */
  let nav = direction => {
    let newP = page + direction;
    console.log(newP);
    if (newP >= 0 && newP < numberOfPages) {
      page = newP;
    }
  };
</script>

{#if numberOfPages > 1}
  <ul class="pagination center-align">
<!-- "Предишна страница"-->
    <li class={page === 0 ? 'disabled' : 'waves-effect'}>
      <a
        href="#!"
        on:click={() => {
          nav(-1);
        }}>
        <i class="material-icons">chevron_left</i>
      </a>
    </li>
<!-- Бутончетата с номерата на страниците -->
    {#each new Array(numberOfPages) as _, i}
      <li
        on:click={() => {
          page = i;
        }}
        class={i === page ? 'teal active' : 'waves-effect'}>
        <a href="#!">{i + 1}</a>
      </li>
    {/each}
<!-- "Следваща страница"-->
    <li class={page === numberOfPages - 1 ? 'disabled' : 'waves-effect'}>
      <a
        href="#!"
        on:click={() => {
          nav(+1);
        }}>
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
  </ul>
{/if}
