<!------------------------------------------------------------------
 Модалчето, което се показва при натискане на някой домашен любимец
 Показва допълнително информация
------------------------------------------------------------------->

<script>
  export let pet;
  import { animals } from "../globals";
  import moment from "moment";

  //Форматира датата
   let dateFormat = d => {
    return moment(d).format("DD/MM/YYYY  (hh:mm)");
  };
</script>

<style>
  td{
    padding-left: 20px
  }
</style>

<div id="petInfoModal" class="modal">
  <div class="modal-content">
    {#if pet}
      <h5 class="center-align teal-text text-darken-3">{pet.name}</h5>
      <table>
        <tbody>
          <tr>
            <td class="grey lighten-3" style="width:30%">
              <b>Вид&nbspживотно</b>
            </td>
            <td class="capitalize">{animals[pet.type]}</td>
          </tr>
          <tr>
            <td class="grey lighten-3"><b>Добаено на</b></td>
            <td>{dateFormat(pet.created_at)}</td>
          </tr>
           <tr>
            <td class="grey lighten-3"><b>Добаено oт</b></td>
            <td>{pet.added_by}</td>
          </tr>
          <tr>
            <td class="grey lighten-3"><b>Oписание</b></td>
            <td>{pet.about}</td>
          </tr>
        </tbody>
      </table>
    {/if}

  </div>

  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-teal btn-flat">OK</a>

  </div>

</div>
