<!-----------------------------
  Таблицата с домашните любимци
------------------------------->

<script>
  import PetInfoModal from "./PetInfoModal.svelte";
  import _ from "lodash";
  import { subscribeToPets, subscribeToUser } from "../store/store";
  import { animals } from "../globals";
  import moment from "moment";

  let pets; //домашните любимци
  let user; //логнатия user

  subscribeToPets(p => {
    pets = p;
  });
  subscribeToUser(u => {
    user = u;
  });

  //Форматира датата
  let dateFormat = d => {
    return moment(d).format("DD/MM/YYYY");
  };

  //Aко се кликне на някой любимец - индекса му
  let showingPet = null;
  //Отваря модалчето с допълнително инфо за някой любимец
  let gotoPet = index => {
    showingPet = pets[index];
    M.Modal.getInstance(document.getElementById("petInfoModal")).open();
  };
</script>

<!-- модалчето с допълнително инфо за някой любимец -->
   <PetInfoModal pet={showingPet}/>


<table class="highlight">
  <thead>
    <tr>
      <th>Име</th>
      <th>Вид</th>
      <th>Информация</th>
      <th>Дата на добавяне</th>
      <th>Добавен от</th>
    </tr>
  </thead>

  <tbody id="pets">
    {#each pets as pet, i}
      <tr
        on:click={() => {
          gotoPet(i);
        }}
        class="clickable">
        <td>{pet.name}</td>
        <td>{animals[pet.type]}</td>
        <td>{_.truncate(pet.about)}</td>
        <td>{dateFormat(pet.created_at)}</td>
        <td>
          {pet.added_by}
          {user && pet.added_by === user.email ? ' (от мен)' : ''}
        </td>
      </tr>
    {:else}
      <tr>
        <td colspan="5" class="center-align orange white-text">
          <b>Няма открити домашни любимци !</b>
        </td>
      </tr>
    {/each}

  </tbody>
</table>
