<!--------------------------------
 Модалчето с критериите за търсене
--------------------------------->

<script>
  import { animals } from "../globals";
  import { subscribeTosearchParams, filterPets } from "../store/store";
  import Mark from "mark.js";

  var markJS = new Mark("#pets");

  let name; //Името по което ще се търси
  let type; //Типа по който ще се търси

  subscribeTosearchParams(sp => {
    if (sp) {
      name = sp.name;
      type = sp.type;
    }
  });

  //Променя search параметрите в store-а и прави заявка към api-то
  let search = () => {
    filterPets(name, type);
    setTimeout(() => {
      markJS.unmark();
      markJS.mark(`${name} ${animals[type]}`);
    }, 100);
  };

  //Изчиства критериите за търсене и прави заявка към api-то
  let clearSearch = () => {
    filterPets(null, null);
    setTimeout(() => {
      markJS.unmark();
    }, 100);
  };
</script>

<style>
  .modal-footer.row {
    margin-bottom: 0px !important;
  }
</style>

<div id="searchModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="center-align teal-text text-darken-3">Tърсене</h4>
    <br />
    <br />

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">pets</i>
        <input bind:value={name} id="name" type="text" />
        <label for="name">Име на животното</label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix">palette</i>
        <select bind:value={type} name="type">
          <option disabled selected value="">Вид</option>
          {#each animals as animal, i}
            <option value={i}>
              <span class="capitalize">{animal}</span>
            </option>
          {/each}
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer row">
    <div class="col s6">
      <div
        on:click={clearSearch}
        style="width:100%"
        class="waves-effect waves-light btn grey modal-close ">
        Изчисти филтрите
      </div>
    </div>

    <div class="col s6">
      <a
        on:click={search}
        href="#!"
        style="width:100%"
        class="modal-close waves-effect waves-light btn teal">
        Търси
      </a>
    </div>

  </div>

</div>
